.containers {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.leftContainer {
    width: 60%;
    padding: 50px;
}

.rightContainer {
    width: 40%;
}

.diceGroup {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;


}

.dicePair {
    height: 20px;
    width: 20px;
    padding: 20px;
    margin: 60px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font: size 10px;
}

.dicePair3 {
    background-color: lightcoral;
}

.dicePair4 {
    background-color: rgb(255, 255, 129);
}

.dicePair5 {
    background-color: seagreen;
    color: whitesmoke;
}

.dicePair6 {
    background-color: rgb(60, 73, 255);
    color: whitesmoke;
}

.scoreCards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    
}

.rollDice {
    width: 150px;
    background-color:purple;
    color: whitesmoke;
}

.redInput {
    color: lightcoral;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;


   
  }

  tr {
    height: 50px;
    padding-left: 35px;
    
  }

  td {
    justify-items: space-around;
    padding-inline: 5px;

  }

  .redRow {
    background-color: lightcoral;
   
  }

  .yelRow {
    background-color: rgb(255, 255, 129);
    
  }

  .greenRow {
    background-color: seagreen;
 
  }

  .blueRow {
    background-color: rgb(58, 71, 255);

  }